@font-face {
    font-family: "Gordita-Bold";
    src: url('/font/gordita-bold.eot'); /* IE9 Compat Modes */
    src: url('/font/gordita-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/gordita-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/font/gordita-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/font/gordita-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/font/gordita-bold.svg#FontName') format('svg'); /* Legacy iOS */
    }

@font-face {
    font-family: "Gordita-Medium";
    src: url('/font/gordita-medium.eot'); /* IE9 Compat Modes */
    src: url('/font/gordita-medium.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/gordita-medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('/font/gordita-medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('/font/gordita-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/font/gordita-medium.svg#FontName') format('svg'); /* Legacy iOS */
    }


body {
  /* position: relative; */
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222222;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Gordita-Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    opacity: .9;
    font-weight: 800;
    font-size: 1.4em;
    letter-spacing: -.02em;
}

h4 {
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0;
    font-family: Gordita-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    opacity: .4;
    /* letter-spacing: -.5px; */
    font-weight: 500;
    font-size: 0.9em; 
}

h5 {
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0;
    font-family: Gordita-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    opacity: .4;
    /* letter-spacing: -.5px; */
    font-weight: 500;
    font-size: 0.8em; 
}

p {
  color: #fff;
  font-weight: 300;
  font-size: .9em;
  opacity: .3;
  margin: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: block;
    margin-top: 50px;
}

.color-svg { color: #b500f1; }/* lavender: */


.container {
  display: grid;
  text-align: center;
  justify-items: center;

}

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
  text-align: center;
  color: rgb(247, 226, 35);
  margin-top: 50px;
  margin-bottom: 50px;
}
  
.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
    text-align: center;
    color: rgb(41, 252, 46);
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(41, 252, 46);
}
  
.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

.blotter-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.morphing-demo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.svg-container {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 1100px;
    /* display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-items: center; */
}

canvas {
    border-radius: 8px;
}

.svg-demo {
    display: inline-block;
    padding: 0;
    margin: 25px;
    height: 300px;
    border-radius: 8px;
}

.a {
    /* border: 6px solid rgb(251, 0, 176);     */
    background-color: rgb(0, 0, 255);
}

.b{
    /* border: 6px solid white;     */
    background-color: #FEE600;
}

.c{
    /* border: 6px solid #555;     */
    background-color: rgb(255, 21, 21);
}

.d{
    /* border: 6px solid #555;     */
    /* margin: 25px; */
    background-color: white;
}

.f{
    background-color: #292929;
}

.g {
    background-color: #FFC803;
}

.h {
    background-color: black;
    rotate: 90;
}




#svg-content-d {
    display: inline-block;
    height: 300px;
    width: 300px;
}

#svg-content-f {
    display: inline-block;
    height: 300px;
    width: 300px;
    
}

#svg-content-g {
    display: inline-block;
    height: 300px;
    width: 300px;
    
}

.alphabet-fc {
    transform-origin: 50% 50%;
}

#svg-content-h {
    display: inline-block;
    height: 300px;
    width: 300px;
}
.z{
    /* border: 6px solid #555;     */
    background-color: #292929;
}

.svg-path-a {
    transform-origin: 50% 50%;
}

.svg-path {
    transform-origin: 50% 50%;
}

.svg-frame {
    border-radius: 8px;
}

.svg-b {
    transform-origin: 50% 50%;
}

.alphabet-f {
    transform-origin: 50% 50%;
}

.alphabet-g {
    transform-origin: 50% 50%;
}

footer {
    margin-bottom: 50px;
}

#korean-c {
    transform-origin: 50% 50%;
}

