@font-face {
    font-family: "Gordita-Bold";
    src: url('/font/gordita-bold.eot'); /* IE9 Compat Modes */
    src: url('/font/gordita-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/gordita-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/font/gordita-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/font/gordita-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/font/gordita-bold.svg#FontName') format('svg'); /* Legacy iOS */
    }

@font-face {
    font-family: "Gordita-Medium";
    src: url('/font/gordita-medium.eot'); /* IE9 Compat Modes */
    src: url('/font/gordita-medium.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/gordita-medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('/font/gordita-medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('/font/gordita-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/font/gordita-medium.svg#FontName') format('svg'); /* Legacy iOS */
    }


body {
  /* position: relative; */
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222222;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Gordita-Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    opacity: .9;
    font-weight: 800;
    font-size: 1.4em;
    letter-spacing: -.02em;
}

h4 {
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0;
    font-family: Gordita-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    opacity: .4;
    /* letter-spacing: -.5px; */
    font-weight: 500;
    font-size: 0.9em; 
}

h5 {
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0;
    font-family: Gordita-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    opacity: .4;
    /* letter-spacing: -.5px; */
    font-weight: 500;
    font-size: 0.8em; 
}

h6 {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0;
    font-family: Gordita-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    opacity: .3;
    /* letter-spacing: -.5px; */
    font-weight: 100;
    font-size: 0.8em; 
}

p {
  color: #fff;
  font-weight: 300;
  font-size: .9em;
  opacity: .3;
  margin: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: block;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.color-svg { color: #b500f1; }/* lavender: */


.container {
  display: grid;
  text-align: center;
  justify-items: center;

}


.blotter-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.morphing-demo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.svg-container {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 1100px;
    text-align: left
    /* display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-items: center; */
}

canvas {
    border-radius: 8px;
    background-color: #FFCDD1;
}

.svg-demo {
    display: inline-block;
    padding: 0;
    margin: 25px;
    height: 300px;
    border-radius: 8px;
}

.a {
    /* border: 6px solid rgb(251, 0, 176);     */
    background-color: rgb(0, 0, 255);
}

.b{
    /* border: 6px solid white;     */
    background-color: #FEE600;
}

.c{
    /* border: 6px solid #555;     */
    background-color: rgb(255, 21, 21);
}

.d{
    /* border: 6px solid #555;     */
    /* margin: 25px; */
    background-color: white;
}

.f{
    background-color: #14037C;
}

.g {
    background-color: #FFC803;
}

.h {
    background-color: black;
    rotate: 90;
}

.i {
    background-color: #FDFFE1;
}

.j {
    background-color: #F75497;

}

.m {
    background-color: #0A00D6;
}

.n {
    background-color: #fff;
}

.alphabet-j-oval {
    mix-blend-mode: difference;
}

.alphabet-j-left, .alphabet-j-right, .alphabet-j-oval  {
    transform-origin: 50% 55%;
}

.v {
    background-color: #FE6436;    
    /* display: inline-block; */
}

.l {
    background-color: #73FFE7;
}

.y {
    background-color: #FFCDD1;
}


#svg-content-d {
    display: inline-block;
    height: 300px;
    width: 300px;
}

#svg-content-f {
    display: inline-block;
    height: 300px;
    width: 300px;
    
}

#svg-content-y {
    display: inline-block;
    height: 300px;
    width: 300px;
    
}

.alphabet-fc {
    transform-origin: 50% 50%;
}

#svg-content-h {
    display: inline-block;
    height: 300px;
    width: 300px;
}
.z{
    /* border: 6px solid #555;     */
    background-color: #292929;
}

.svg-path-a {
    transform-origin: 50% 50%;
}

.svg-path {
    transform-origin: 50% 50%;
}

.svg-frame {
    border-radius: 8px;
}

.svg-b {
    transform-origin: 50% 50%;
}

.alphabet-f {
    transform-origin: 50% 50%;
}

.alphabet-g {
    transform-origin: 50% 50%;
}



.alphabet-gx {
    transform-origin: 50% 50%;
}

.alphabet-wa, .alphabet-wb, .alphabet-wc, .alphabet-wd {
    transform-origin: 50% 50%;
    
}

footer {
    margin-bottom: 80px;
}

#korean-c {
    transform-origin: 50% 50%;
}



.scene {
  display: inline-block;
  /* perspective: 1000px;    */
  width: 300px;
  height: 300px;
}

.cube {
  width: 200px;
  height: 13px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  transform-style: preserve-3d;
}

.cube:first-child {
    margin-top: 59px;
}

.cube__face {
  position: absolute;   
  width: 200px;
  height: 13px;
  line-height: 200px;
  
}



.k-a  { 
    background-image: url('/asset/ka.png');
    background-size: contain;
}

.k-b  { 
    background-image: url('/asset/kb.png');
    background-size: contain;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }


.empty {
    display: inline-block;
    width: 300px;
    height: 300px;
  }

.path-m-left { animation: dash 10s linear infinite alternate-reverse;}
.path-m-right { animation: dash 10s linear infinite alternate; }

.left-1 { stroke-dasharray: 36, 99; stroke-linecap: square;}
.left-2 { stroke-dasharray: 36, 179;stroke-linecap: square;}
.left-3 { stroke-dasharray: 36, 404;stroke-linecap: square;}
.right-1 { stroke-dasharray: 36, 139;stroke-linecap: square;}
.right-2 { stroke-dasharray: 36, 364;stroke-linecap: square;}
.right-3 { stroke-dasharray: 36, 444;stroke-linecap: square;}



@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

#alphabet-i {
    transform-origin: 50% 50%;
    border-radius: 8px;
}

#alphabet-i-5 {
    transform-origin: 50% 50%;
}

#alphabet-i-4 {
    transform-origin: 40% 60%;
}

#alphabet-i-3 {
    transform-origin: 40% 60%;
}

#alphabet-i-2 {
    transform-origin: 75% 24%;
}


#alphabet-i-6 {
    transform-origin: 80% 80%;
}

#alphabet-i-1 {
    transform-origin:40% 24%;
}

#alphabet-n {
    display: inline-block;
    width: 300px;
    height: 300px;
}

#alphabet-l {
    display: inline-block;
    width: 300px;
    height: 300px;
}

@media only screen and (max-width: 1058px) {
    .svg-container {
      text-align: center;
    }
    .content {
        margin-bottom: 0px;
        margin-top: 60px;
    }
  }


  /* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #fff;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.4;
  }
  
  /* selected link */
  a:active {
    color: #fff;
    text-decoration: none;
  }